.delete-btn {
    margin-left: 6px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
   
}

.delete-btn:hover {
    background-color: rgb(80, 4, 4);
}

.todo-submit {
    height: 25px !important;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    background-color: rgb(23, 9, 223);
    border: 0.5px solid rgb(23, 9, 223);
}

.todo-input {
    height: 21px;
    border: 0.5px solid rgb(107, 107, 250);
}

.todo-form {
    margin-top: 20px;
    margin-left: 40px;
}

.todo-submit:hover {
    background-color: rgb(17, 10, 116);
}